{% load i18n %} 

<div class="container">
    <div class="row" id="created-producted-link">
        <a class="mat-button mat-button-outline" href=""></a>
    </div>
    <form id="campaign-update-form" class="form full" name="campaign" action="{{campaign.get_update_url}}" data-campaign="{{campaign.campaign_uuid}}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="mat-box container">
            <div class="actions flex-left padding-v">
                <a class="mat-button mat-button-text js-cancel" href="{{campaign.get_dashboard_url}}">{% trans "Back" %}</a>
            </div>
            <div class="actions flex-right">
                <a class="mat-button mat-button-outline js-cancel" href="{{campaign.get_dashboard_url}}"><span>{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</span></a>
                <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_UPDATE_BTN_LABEL}}</button>
            </div>
            
            
            <div class="col-xs-12 col-3">
                <div class="box">
                    <div class="bold">{% trans "Desktop image" %}</div>
                   {% include "tags/images_uploader.html" with FORM_ID="campaign-upload-form" INPUT_ID="image" INPUT_NAME="image" UPLOADER_TITLE=UI_STRINGS_CONTEXT.UI_CAMPAIGN_IMAGE_TITLE%}
                </div>
            
            </div>
            <div class="col-xs-12 col-7">
                <div class="grid padding">
                    {% if campaign.image%}
                        {% if campaign.image %}
                        <div class="padding">
                            <span>{% trans "Image" %}</span>
                            <div class="img-wrapper">
                                <img class="img-responsive" src="{{campaign.get_image_url}}" alt="{{campaign.name}}">
                            </div>
                        </div>
                        {% endif %}
                        
                    {% else %}
                        <div class="padding">
                            <span>{% trans "no images" %}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="box new-product create-form">
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label for="name">{% trans "Campaign Name" %}</label>
                            <input type="text" id="name" class="full" name="name" value="{{campaign.name}}">
                        </div>
                        <div class="form-group">
                            <label for="key">{% trans "Key" %}</label>
                            <input type="text" id="key" class="full" name="key" value="{{campaign.key}}">
                        </div>
                        <div class="form-group">
                            <label for="cta">{% trans "CTA" %}</label>
                            <input type="text" id="cta" class="full" name="cta" value="{{campaign.cta}}">
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label for="headerText">{% trans "Header Text" %}</label>
                            <input type="text" id="headerText" class="full" name="headerText" value="{{campaign.headerText}}">
                        </div>
                        <div class="form-group">
                            <label for="bodyText">{% trans "Body Text" %}</label>
                            <input type="text" id="bodyText" class="full" name="bodyText" value="{{campaign.bodyText}}">
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label for="target_link">{% trans "Target Link" %}</label>
                            <input type="text" id="target_link" class="full" name="target_link" value="{{campaign.target_link}}">
                        </div>
                    </div>
                    
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label class="padding-bottom" for="description">{% trans "Description" %}</label>
                            <textarea id="description" class="limited-input bordered" name="description" cols="30" rows="10" data-target="description-counter" data-max-length="300">{% if campaingn.description %}{{campaingn.description}}{% endif %}</textarea>
                        </div>
                        
                        <div class="row padding-l"> <span id="description-counter" class="char-counter">0</span><span class="text-max-length">/300</span></div>
                    </div>
                    
                </div><!--End of box-->
            </div>
            
        </div>
        
    </form>
</div>