{% load i18n %} 

<div class="container">
    <div class="row" id="created-producted-link">
        <a class="mat-button mat-button-outline" href=""></a>
    </div>
    <form id="mail-campaign-upload-form" class="form full" name="mailcampaign" action="{% url 'mailing:campaign-create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="added_by" value="{{request.user.pk}}">        
        <div class="mat-box container">
            <div class="actions flex-left padding-v">
                <a class="mat-button mat-button-text js-cancel" href="{%url 'mailing:campaigns'%}">{% trans "Back" %}</a>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="bold">{% trans "Image" %}</div>
                   {% include "tags/images_uploader.html" with FORM_ID="campaign-upload-form" INPUT_ID="image" INPUT_NAME="image" UPLOADER_TITLE=UI_STRINGS_CONTEXT.UI_CAMPAIGN_IMAGE_TITLE%}
                </div>
            </div>
            <div class="col-m-12 col-7">
            
                <div class="new-product create-form">
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label for="name">{% trans "Campaign Name" %}</label>
                            <input type="text" id="name" class="full" name="name" >
                        </div>
                        <div class="form-group">
                            <label for="key">{% trans "Key" %}</label>
                            <input type="text" id="key" class="full" name="key" >
                        </div>
                        
                        <div class="form-group-wrapper">
                            <div class="form-group full">
                                <label for="target_link">{% trans "Target Link" %}</label>
                                <input type="text" id="target_link" class="full" name="target_link">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label for="target_slug">{% trans "Target Slug" %}</label>
                            <input type="text" id="target_slug" class="full" name="target_slug" >
                        </div>
                        <div class="form-group">
                            <label for="cta">{% trans "CTA" %}</label>
                            <input type="text" id="cta" class="full" name="cta" >
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <span class="padding-bottom">{% trans "Campaign Type" %}</span>
                            <div class="row">
                                {% for k,v in MAIL_CAMPAIGN_TYPES %} 
                                <span class="padding"><input id="campaign-{{v}}" type="radio" name="campaign_type" value="{{k}}" {% if k == MAIL_CAMPAIGN_STANDARD %} checked {% endif %}> <label for="campaign-{{v}}">{{v}}</label></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group full">
                            <label for="headerText">{% trans "Header Text" %}</label>
                            <input type="text" id="headerText" class="full" name="headerText" >
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label class="padding-bottom" for="bodyText">{% trans "Body Text" %}</label>
                            <textarea id="bodyText" class="limited-input bordered" name="bodyText" cols="30" rows="10" data-target="bodyText-counter" data-max-length="300"></textarea>
                            <div class="flex flex-left padding-v"> <span id="bodyText-counter" class="char-counter">0</span><span class="text-max-length">/300</span></div>
                        </div>
                        <div class="form-group">
                            <label class="padding-bottom" for="description">{% trans "Description" %}</label>
                            <textarea id="description" class="limited-input bordered" name="description" cols="30" rows="10" data-target="description-counter" data-max-length="300"></textarea>
                            <div class="flex flex-left padding-v"> <span id="description-counter" class="char-counter">0</span><span class="text-max-length">/300</span></div>
                        </div>
                        
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label class="bold" for="scheduled_at">{{UI_STRINGS_CONTEXT.UI_SCHEDULE_LABEL}}</label>
                            <div class="flex flex-left margin-v flex-wrap">
                                <input class="schedule" type="datetime-local" name="scheduled_at" id="scheduled_at">
                                <span class="accordion-toggle" data-target="schedule-hint"><i class="fas fa-question-circle"></i></span>
                            </div>
                            <div id="schedule-hint" class="accordion margin-v mat-box">
                                <div class="padding"><p class="small">{{UI_STRINGS_CONTEXT.UI_SCHEDULE_HINT}}</p></div>
                            </div>
                        </div>
                        
                        <div class="form-group published_status">
                            <label for="published_status">{{UI_STRINGS_CONTEXT.UI_PUBLISHED_STATUS_LABEL}}</label>
                            <select name="published_status" id="published_status" class="js-input-published_status">
                                {% for k,v in PUBLISHED_STATUS %} 
                                <option value="{{k}}" {% if k == PUBLISHED_STATUS_PUBLISHED %} selected{% endif %}>{{v}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="actions flex-right">
                        <a class="mat-button mat-button-outline js-cancel" href="{%url 'mailing:campaigns'%}">{% trans "Cancel" %}</a>
                        <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_CAMPAIGN_CREATE_BTN_LABEL}}</button>
                    </div>
                </div><!--End of box-->
            </div>
            
        </div>
        
    </form>
</div>